In [2]:


import camelot

import numpy as np

In [6]:
tables = camelot.read_pdf('M30Xray.pdf',pages='16,17,18', flavor='stream',row_tol=5)

In [25]:
tables[3].df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,,,,,,,,TABLE 1 — Continued,,,,,
1,Source,ID,"Type,",RA,,Dec,r,Cts,C1,C2,FX,FX,Name
2,,,[redshift],(h m s err),,(◦ ′\n′′ err),(′),(0.3–7 keV),,,(0.5–6 keV),(0.5–2.5 keV),(positional part)
3,(1),(2),(3),(4),,(5),(6),(7),(8),(9),(10),(11),(12)
4,46,,,21:40:21.436 0.018,-,23:06:50.14 0.15,3.95,-\n43.1+7.6\n6.5,-\n2.82+0.90\n0.78,-\n1.92+0.61\n0.57,-\n9.3+3.0\n1.8,-\n3.3+1.1\n0.7,214021.43-230650.1
5,47,,,21:40:21.558 0.012,-,23:14:49.49 0.15,4.04,-\n16.5+5.1\n4.0,-\n1.29+0.84\n0.78,-\n0.86+0.87\n0.82,-\n4.0+2.3\n1.1,-\n1.4+0.9\n0.4,214021.55-231449.4
6,48,,,21:40:20.501 0.013,-,23:15:05.59 0.25,4.32,-\n14.4+4.9\n3.7,-\n0.44+0.74\n0.72,-\n0.22+0.98\n0.96,-\n2.2+1.3\n0.6,-\n1.8+0.9\n0.5,214020.50-231505.5
7,49,,,21:40:03.419 0.020,-,23:11:34.42 0.15,4.37,-\n28.1+6.4\n5.3,-\n0.71+0.52\n0.51,-\n-\n0.38+0.62\n0.63,-\n9.2+4.1\n1.9,-\n6.5+2.4\n1.4,214003.41-231134.4
8,50,,"Ellipt., 0.27",21:40:37.036 0.012,-,23:13:37.17 0.31,4.44,-\n13.1+4.7\n3.6,-\n1.42+1.01\n0.91,-\n0.59+0.93\n0.88,-\n3.2+2.1\n0.9,-\n0.9+0.6\n0.3,214037.03-231337.1

In [35]:
coordinates1 = [(i[0],i[3].split(' ')[0],i[5].split(' ')[0]) for i in tables[0].data[6:18]]

coordinates2 = [(i[0],i[3].split(' ')[0],i[5].split(' ')[0]) for i in tables[0].data[20:]]

coordinates3 = [(i[0],i[3].split(' ')[0],i[5].split(' ')[0]) for i in tables[2].data[3:]]
coordinates4 = [(i[0],i[3].split(' ')[0],i[5].split(' ')[0]) for i in tables[3].data[4:]]
coordinates = coordinates1 + coordinates2 + coordinates3 + coordinates4

In [37]:
#region to plot
findreg = 'M30.reg'


with open(findreg,'w') as fileone:
    for name,ra,dec in coordinates:
        text='fk5; circle({0},-{1},0.1") # color=red text={2} \n'.format(ra,dec,'{'+str(name)+"}")
        #text='fk5; circle({0},{1},.1") # color=red text=\{{2}\}\n'.format(ra[index],dec[index],index)
        fileone.write(text)
        #print(text)